html, body, div, form, code, pre {
  margin: 0; padding: 0; border: 0; vertical-align: baseline;
}

em { font-style: italic; }

body {
  /*background-color: #587498;*/
  background-color: #7F9DB9;
  font-family: Palatino, Georgia, Helvetica, serif;
  font-size: 14px;
  margin: 0;
}

a {
  color: blue;
}

a img {
  border: none;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

.center {
  text-align: center;
}

#container {
  width: 90%;
  margin: 10px auto 10px;
  background: white;
  padding: 20px 40px;
  border: solid 1px black;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}

#footer {
  width: 90%;
  margin: 10px auto;
  background: white;
  padding: 10px 40px;
  border: solid 1px black;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}

#footer p {
  margin: 0;
  text-align: right;
  font-size: 11px;
}

#header {
  width: 90%;
  font-size: 12px;
  margin: 0 auto;
  background: white;
  padding: 10px 40px;
  border: solid 1px black;
  margin-top: 10px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}

a.iconic {
  font-size: 21px;
}

#menu {
  float: left;
  text-align: left;
}

#user_menu {
  float: right;
  text-align: right;
}

table {
  margin: 0;
  padding: 0;
}

table p {
  margin: 0;
  padding: 0;
}


table, th, tr, td {
  border: solid 1px;
  border-collapse: collapse;
}

th, tr, td {
  padding: 4px;
  font-size: 12px;
}

th {
  background-color: #ddd;
}

#flash_notice,
#flash_error,
#flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #ccffcc;
  border: solid 1px #66cc66; 
}

#flash_error,
#flash_alert {
  background-color: #ffcccc;
  border: solid 1px #cc6666; 
}

.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #cf0000;
  padding: 0;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px; 
}

.error_messages h2 {
  text-align: left;
  padding: 5px 5px 5px 15px;
  margin: 0;
  font-weight: bold;
  font-size: 12px;
  background-color: #cc0000;
  color: white; 
}

.error_messages p {
  margin: 8px 10px; 
}

.error_messages ul {
  margin: 0; 
}

#login_box {
  background-color: #FFF;
  position: absolute;
  width: 440px;
  height: 280px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  padding: 20px 20px;
  border: solid 1px black;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}

#login_box h1 {
  text-align: center;
}

/* ----- SimpleForm Styles ----- */

.simple_form label {
  float: left;
  width: 100px;
  text-align: right;
  margin: 4px 10px;
}

.simple_form div.input {
  margin-bottom: 10px;
}

.simple_form div.boolean, .simple_form input[type='submit'] {
  margin-left: 120px;
}

.simple_form div.boolean label, .simple_form label.collection_radio {
  float: none;
  margin: 0;
}

.simple_form label.collection_radio {
  margin-right: 10px;
  margin-left: 2px;
}

.simple_form .error {
  clear: left;
  float: none;
  font-size: 12px;
  color: #D00;
  padding-left: 0.5em;
  vertical-align: top;
}

.simple_form .hint {
  clear: left;
  margin-left: 120px;
  font-size: 12px;
  color: #555;
  display: block;
  font-style: italic;
}

#calendar {
  width: 100%;
  height: 100%;
  padding: 20px 0;
}

#calendar table {
  border-collapse: collapse;
  width: 100%;
}

#calendar td,
#calendar th {
  font-family: Palatino, Georgia, Helvetica, serif;
  font-size: 12px;
  padding: 6px;
  border: 1px solid #999;
  width: 70px;
}

#calendar th {
  background: #DDD;
  color: #666;
  text-align: center;
}

#calendar td {
  background: #FFF;
  color: #777;
  height: 80px;
  vertical-align: top;
  font-size: 12px;
  line-height: 1.2em;
}

#calendar #week {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

#calendar #week a, #calendar #week a:hover {
  text-decoration: none;
  padding: 0 10px;
  color: #999;
}

#calendar .today {
  background-color: #DEE7EF;
}

#calendar ul,
#users_list ul {
  margin: 0;
  margin-top: 5px;
  padding: 0;
  list-style: none;
}

#calendar li {
  margin: 0;
  padding: 0;
  font-size: 12px;
  text-align: center;
}

#calendar a {
  text-decoration: none;
}

#users_list li {
	border: 1px solid #DADADA;
	background-color: #EFEFEF;
	padding: 3px 5px;
	margin-bottom: 3px;
	margin-top: 3px;
	width: 100px;
	font-family: Palatino, Georgia, Helvetica, serif;
	color: #000;
	font-size: 0.8em;
  text-align: left;
}

#users_list li:hover {
  background-color: #FFF;
  cursor: move;
}

.handle:hover {
  cursor: move;
}

#show_event {
  padding: 18px 18px;
  font-size: 14px;
  background: none repeat scroll 0 0 #EEF2F7;
  border: 1px solid #536376;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 2px 12px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 2px 12px rgba(0, 0, 0, 0.6);
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.6);
  width: 400px;
}

#show_event p {
  padding: 5px;
}

#create_event {
  padding: 18px 0px;
  font-size: 14px;
  background: none repeat scroll 0 0 #EEF2F7;
  border: 1px solid #536376;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 2px 12px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 2px 12px rgba(0, 0, 0, 0.6);
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.6);
  width: 650px;
}

h1, h2 {
  color: #9e1700;
  text-shadow: 1px 1px 1px white;
  font-size: 1.4em;
  font-weight: 700;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
  margin: 15px 0;
  padding: 10px 0;
}

#create_event h2 {
  margin: 5px 20px;
  padding: 10px 10px;
}

.table_list {
  border: solid 1px;
  border-color: #000;
  border-collapse: collapse;
  margin: 10px 0;
  width: 100%;
}

.table_list th {
  border: solid 1px;
  border-color: #000;
  padding: 4px 8px;
  padding-bottom: 4px;
  text-align: center;
}

.table_list td {
  border: solid 1px;
  border-color: #000;
  padding: 2px 8px;
} 

.active {
  border-color: #000;
  color: #1F1AB2;
}

.pending {
  border-color: #000;
  color: #FFA100;
}

.completed {
  border-color: #000;
  color: #097054;
}

.busy {
  background-color: #2E2F2F;
  text-align: center;
}

/* DataTables style */
#customers_table, #appointments_table {
  width: 100%;
}

.dataTables_wrapper {
	position: relative;
  width: 100%;
	min-height: 302px;
	clear: both;
	_height: 302px;
	zoom: 1; /* Feeling sorry for IE */
}

.dataTables_length {
	width: 40%;
	float: left;
}

.dataTables_filter {
	width: 40%;
	float: right;
	text-align: right;
}

.dataTables_info {
	width: 40%;
	float: left;
}

.dataTables_paginate {
	width: 60%;
	float: right;
	text-align: right;
}

.top, .bottom {
	padding: 15px;
	background-color: #F5F5F5;
	border: 1px solid #CCCCCC;
  min-height: 17px;
}

.top {
  margin-bottom: 10px;
}

.bottom {
  margin-top: 10px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables sorting
 */

.sorting_asc {
	background: url('../images/sort_asc.png') no-repeat center right;
}

.sorting_desc {
	background: url('../images/sort_desc.png') no-repeat center right;
}

.sorting {
	background: url('../images/sort_both.png') no-repeat center right;
}

.sorting_asc_disabled {
	background: url('../images/sort_asc_disabled.png') no-repeat center right;
}

.sorting_desc_disabled {
	background: url('../images/sort_desc_disabled.png') no-repeat center right;
}

/* Pagination nested */
.paginate_disabled_previous, .paginate_enabled_previous, .paginate_disabled_next, .paginate_enabled_next {
	height: 19px;
	width: 19px;
	margin-left: 3px;
	float: left;
}

.paginate_disabled_previous {
	background-image: url('/images/back_disabled.jpg');
}

.paginate_enabled_previous {
	background-image: url('/images/back_enabled.jpg');
}

.paginate_disabled_next {
	background-image: url('/images/forward_disabled.jpg');
}

.paginate_enabled_next {
	background-image: url('/images/forward_enabled.jpg');
}

.example_alt_pagination div.dataTables_info {
	width: 40%;
}

.paging_full_numbers {
	width: 400px;
	height: 22px;
	line-height: 22px;
  margin-bottom: 20px;
}

.paging_full_numbers span.paginate_button,
.paging_full_numbers span.paginate_active {
	border: 1px solid #aaa;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
  border-radius: 5px;
	padding: 2px 5px;
	margin: 0 3px;
	cursor: pointer;
	*cursor: hand;
}

.paging_full_numbers span.paginate_button {
	background-color: #ddd;
}

.paging_full_numbers span.paginate_button:hover {
	background-color: #ccc;
}

.paging_full_numbers span.paginate_active {
	background-color: #99B3FF;
}

.label {
  padding: 1px 3px 2px;
  background-color: #bfbfbf;
  font-size: 9.75px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.label.important {
  background-color: #c43c35;
}

.label.active {
  background-color: #1F1AB2;
}
.label.pending {
  background-color: #f89406;
}
.label.confirmed {
  background-color: #46a546;
}
.label.completed {
  background-color: #46a546;
}
.label.notice {
  background-color: #62cffc;
}
