!!!
%html
  %head
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
  %body
    %h1 Tasquee by Sensible Data
    %p
      Salve #{@appointment.user.name}, |
      %br è stato cancellato un appuntamento a te assegnato:
    = render 'appointment_body'
